@import "docsearch.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none !important;
}

@layer base {
    html {
        font-family: "Lexend", sans-serif;
        font-weight: 300;
    }

    h1, h2, h3, h4, h5 {
        font-family: "Overpass", sans-serif;
        font-weight: bold;
    }

    input:-webkit-autofill,
    textarea:-webkit-autofill,
    select:-webkit-autofill:focus {
        -webkit-box-shadow: 0 0 0 1000px white inset !important;
        -webkit-text-fill-color: black !important;
    }

    @media (prefers-color-scheme: dark) {
        input:-webkit-autofill,
        textarea:-webkit-autofill,
        select:-webkit-autofill:focus {
            -webkit-box-shadow: 0 0 0 1000px #111827 inset !important;
            -webkit-text-fill-color: white !important;
        }
    }

    .copy-to-clipboard-button {
        position: absolute !important;
        top: 0.5rem;
        right: 0.5rem;
        color: white;
    }

    .copy-to-clipboard-button.svg {
        color: white;
    }

    .prose {
        @apply max-w-full !important;
    }

    .prose blockquote {
        @apply font-normal text-gray-500 !important;
    }

    .prose a {
        @apply text-primary-700;
    }

    .prose code {
        @apply bg-gray-100 p-1 dark:bg-gray-800;
    }

    pre {
        @apply my-4 overflow-x-auto rounded-none p-0 !important;
    }

    pre code.torchlight {
        @apply block min-w-max py-4;
    }

    pre code.torchlight .line {
        @apply px-4;
    }

    pre code.torchlight .line-number,
    pre code.torchlight .summary-caret {
        @apply mr-4;
    }

    code.torchlight {
        white-space: break-spaces !important;
    }

    .torchlight.has-focus-lines .line:not(.line-focus) {
        transition: filter 0.35s, opacity 0.35s;
        filter: blur(0.095rem);
        opacity: 0.65;
    }

    .torchlight.has-focus-lines:hover .line:not(.line-focus) {
        filter: blur(0px);
        opacity: 1;
    }
}
