:root {
    --docsearch-primary-color: #0075ff !important;
}

.DocSearch-Search-Icon {
    all: unset;
    @apply stroke-2 w-[17px] h-[17px] text-gray-500 !important
}

.DocSearch-Input:focus {
    @apply outline-0 !important;
}

.DocSearch-Button-Keys {
    @apply hidden !important;
}

.DocSearch-Input:focus {
    @apply ring-0 !important;
}

.DocSearch.DocSearch-Button {
    all: unset;
    @apply inline-flex w-auto items-center ml-0 p-[11.5px] rounded-full bg-gray-100 font-normal text-gray-500 hover:ring-1 hover:ring-gray-200 transition-colors dark:text-gray-500 dark:bg-gray-800 dark:hover:ring-1 dark:hover:ring-gray-700
}

.DocSearch-Button-Placeholder {
    @apply hidden !important
}
